<div data-controller="tcolor" class="flex flex-col">
<div class="bg-blue-400 rounded-md shadow-blue-400 shadow-lg p-4 w-1/4 text-white hover:text-black hover:bg-yellow-400 hover:shadow-yellow-400" data-action="click->tcolor#animation ">Click me!</div>
<div class="bg-white px-6 py-24 sm:py-32 lg:px-8" >
  <div  class="mx-auto max-w-2xl text-center" >
 
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl ">Deylian Heykoop</h2>
    <p data-tcolor-target="animate" class="mt-6 text-lg leading-8 text-gray-600 ">Hello, I am Deylian Heykoop and I am a <%= @age %> year old boy from the Netherlands.
    I program in Ruby on rails.</p>
  </div>
  
</div>
</div>