<div class="bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
 
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Deylian Heykoop</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600 ">Hello, I am Deylian Heykoop and I am a <%= @age %> year old boy from the Netherlands.
    I program in Ruby on rails.</p>
  </div>
  
</div>

<%= button_to "Click me!", "#", data: { turbo_method: "get", turbo_frame: "_top" } %>
<%= turbo_frame_tag "animate-element" do %>
  <div id="animate-element">This will animate!</div>
<% end %>