<%= turbo_frame_tag "about-page" do%>
<div class="bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">About me</h2>
    <p class="mt-6 text-lg leading-8 text-gray-300">I live in the Netherlands. Since my childhood I love everthing that uses tech.
    When I was 4, I was playing with the app, swift. And there I learned the first things about programming.</p>
  </div>
</div>
<%end%>